.title {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #ff80ed;
    display: flex;
    padding-top: 10px;
    margin: auto;
}

.catApp {
    background: mediumaquamarine;
}